@font-face {
	font-family: "Jost";
	font-style: normal;
	font-weight: normal;
	src: url(../fonts/Jost-400-Book.otf) format("opentype");
	src: url(../fonts/Jost-400-Book.ttf) format("truetype");
}
@font-face {
	font-family: "Jost";
	font-style: normal;
	font-weight: bold;
	src: url(../fonts/Jost-700-Bold.otf) format("opentype");
	src: url(../fonts/Jost-700-Bold.ttf) format("truetype");
}
@font-face {
	font-family: "Jost";
	font-style: italic;
	font-weight: normal;
	src: url(../fonts/Jost-400-BookItalic.otf) format("opentype");
	src: url(../fonts/Jost-400-BookItalic.ttf) format("truetype");
}
@font-face {
	font-family: "Jost";
	font-style: italic;
	font-weight: bold;
	src: url(../fonts/Jost-700-BoldItalic.otf) format("opentype");
	src: url(../fonts/Jost-700-BoldItalic.ttf) format("truetype");
}
@font-face {
	font-family: "Drafting";
	font-style: normal;
	font-weight: normal;
	src: url(../fonts/DraftingMono-Regular.otf) format("opentype");
	src: url(../fonts/DraftingMono-Regular.ttf) format("truetype");
}
@font-face {
	font-family: "Drafting";
	font-style: normal;
	font-weight: bold;
	src: url(../fonts/DraftingMono-Bold.otf) format("opentype");
	src: url(../fonts/DraftingMono-Bold.ttf) format("truetype");
}
@font-face {
	font-family: "Drafting";
	font-style: italic;
	font-weight: normal;
	src: url(../fonts/DraftingMono-Italic.otf) format("opentype");
	src: url(../fonts/DraftingMono-Italic.ttf) format("truetype");
}
@font-face {
	font-family: "Drafting";
	font-style: italic;
	font-weight: bold;
	src: url(../fonts/DraftingMono-BoldItalic.otf) format("opentype");
	src: url(../fonts/DraftingMono-BoldItalic.ttf) format("truetype");
}
