// General
html {
	color: $primary;
	font-family: "Jost";
	line-height: 1.5;
	max-width: 80ch;
	padding: 16px;
}
:is(h2, h3, h4, h5, h6) {
	margin-top: 1em;
}

// Footer
footer {
	margin: 2em auto;
}
footer ul {
	align-items: left;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
footer ul li {
	margin-left: 0;
}
footer nav ul {
	justify-content: space-between;
}
.next {
	margin-left: auto;
}
footer hr {
	margin: 24px 0;
}

// Images
img {
	max-width: 100%;
	max-height: calc(0.6 * 80ch);
}

figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;
	margin: auto;
}

figure figcaption {
	max-width: 80%;
	font-size: 95%;
}

// Lists
:is(ul, ol) {
	font-variant-numeric: tabular-nums;
	padding-left: 16px;
}
dt {
	font-weight: bold;
}
:is(ul, ol) li,
dd {
	margin-left: $indentation;
}
.posts-list {
	padding-top: 1em;
}

// Blockquotes
blockquote {
	border-left: $border;
	font-style: italic;
	margin-left: 0;
	padding-left: $indentation;
}

// Tables
table {
	border-collapse: collapse;
	width: 100%;
}
:is(table, th, td) {
	border: $border;
}
:is(th, td) {
	padding: 4px 8px;
}

// Horizontal rules
hr {
	border-bottom: 1px;
	color: $primary;
	margin: 0;
}

// Footnotes
.footnotes {
	margin-top: 2em;
}
.footnotes ol li::marker {
	font-variant-position: super;
}
