.current {
	color: green;
}

footer {
	border-top: 1px solid #222;
	margin-top: 50px;
}

footer nav ul {
	align-items: left;
	display: inline-flex;
	list-style-type: none;
	padding: 0;
	gap: 1.5em;
}

.posts-list {
	padding-left: 16px;
}

code {
	padding: 4px;
	vertical-align: text-bottom;
	font-family: "Drafting";
	font-size: 0.9em;
}
pre {
	padding: 1em;
	border-left: 1px solid #222;
	overflow: scroll;
	position: relative;
}
.copy {
	position: absolute;
	top: 0;
	right: 0;
}
