// Code syntax
code {
	font-family: "Drafting";
	font-size: 0.8em;
	padding: 0.3em;
}
pre {
	border-left: $border;
	max-height: 400px;
	overflow: auto;
	padding-left: $indentation;
	position: relative;
	background-color: transparent;
	scrollbar-width: thin;
	scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
}

// Rouge theme igorpro syntax highlighting
.highlight table td {
	padding: 5px;
}
.highlight table pre {
	margin: 0;
}
.highlight,
.highlight .w {
	color: #444444;
}
.highlight .cp {
	color: #cc00a3;
}
.highlight .cs {
	color: #cc00a3;
}
.highlight .c,
.highlight .ch,
.highlight .cd,
.highlight .cm,
.highlight .cpf,
.highlight .c1 {
	color: #ff0000;
}
.highlight .kc {
	color: #c34e00;
}
.highlight .kd {
	color: #0000ff;
}
.highlight .kr {
	color: #007575;
}
.highlight .k,
.highlight .kn,
.highlight .kp,
.highlight .kt,
.highlight .kv {
	color: #0000ff;
}
.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .dl,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .sr,
.highlight .s1,
.highlight .ss {
	color: #009c00;
}
.highlight .sa {
	color: #0000ff;
}
.highlight .nb,
.highlight .bp {
	color: #c34e00;
}
