---
---

<!DOCTYPE html>
<html
	lang="{{ page.locale | default: site.locale | default: 'en' | slice: 0 , 2  }}"
>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{{ '/assets/css/styles.css' | relative_url }}"
		/>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		{% feed_meta %} {% seo %}
	</head>
	<body>
		{{ content }}
		<footer>{% include footer.html %}</footer>
	</body>
</html>
